<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <div class="container">
        <h3>Gold Count <span class="glyphicon glyphicon-usd"></span>: {{gold_count}} </h3>
        <div class="location">
            <h3>Farm</h3>
            <p>Earns 2-5 Gold</p>
            <button (click)="click('farm')" class="btn btn-success" name='farm'>Farm!</button>
        </div>
        <div class="location">
            <h3>Cave</h3>
            <p>Earns 5-10 Gold</p>
            <button (click)="click('cave')" class="btn btn-success" name='cave'>Cave!</button>
        </div>
        <div class="location">
            <h3>House</h3>
            <p>Earns 7-15 Gold</p>
            <button (click)="click('house')" class="btn btn-success" name='house'>House!</button>
        </div>
        <div class="location">
            <h3>Casino</h3>
            <p>Earn up to or Lose up to 100 Gold</p>
            <button (click)="click('casino')" class="btn btn-danger" name='casino'>Casino!</button>
        </div>

        <div class="log">
            <h1>Adventure Log</h1>
            <ul>
                <li *ngFor="let activity of log">
                    {{activity}}
                </li>

            </ul>
        </div>
    </div>
</div>